#container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F0F0F0 ;
}

#modal{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
}

input:focus{
  outline: 2px solid #ff5733; 
} 